@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Outline&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
  /* background: linear-gradient(white, #eeeeee); */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3vh 8vh 0vh 8vh;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: 1px solid rgb(128, 128, 128);
}
.nav-right-one {
  margin-bottom: 6px;
}
.nav-left {
  letter-spacing: 2px;
  flex: 1;
  font-size: 2rem;
  line-height: 5vh;
}
.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-mid {
  letter-spacing: 1.3px;
  flex: 0.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right-two {
  margin-left: 1rem;
}
.line-hr {
  margin: 15px 0px;
}

.div-one-inside {
  font-stretch: expanded;
  flex: 2;
  font-size: 7rem;
  letter-spacing: 7px;
  line-height: 95px;
  font-family: "Bebas Neue", sans-serif;
}
.div-two {
  background-image: url(./images/shoes-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  background-size: cover;
}
.div-three {
  padding: 5px;
  background-color: #d3fdff;
  display: flex;
  font-size: 3.4rem;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 7px;
}
.div-spans {
  margin-bottom: -15px;
}
.lorem-div {
  position: relative;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 22px;
}
.span-text {
  margin-top: 7vh;
  background-color: #eeeeee;
  color: rgb(0, 0, 0);
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  border-radius: 50%;
  padding: 20px;
}
.div-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6vh;
}
.div-one-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.div-one-image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex: 1.5;
}
.image-one-big {
  background-image: url("./images/download.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 8%;
  width: 16vw;
  height: 18vh;
}
.div-one-inner-div {
  width: 16vw;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div-one-inner-images {
  display: flex;
}
.one-circle-image {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 3vw;
}
.two-circle-image {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 3vw;
  position: relative;
  left: -50%;
}
.three-circle-image {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 3vw;
  position: relative;
  left: -100%;
}
.four-circle-image {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 3vw;
  position: relative;
  left: -150%;
}
